@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&family=Roboto:wght@100;300;400;500;700&display=swap');


/*Mobile*/

html {
    scroll-behavior: smooth;
  }

body{
    width: 100%;
    border: 0;
    margin: 0;
    background: #C9D4D2;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color: #292929;
    cursor: pointer;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    height: 4.5rem;
    margin-top: 1rem;
}
.header-section-1{
    margin-left: 1rem;
}
.header-section-2{
    margin-right: 1rem;
}
.brand{
    color: white;
}
.hero-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3rem;
    width: 100%;
}
.line-1{
    font-size: 2.5rem;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    line-height: 2.6rem;
}
.line-2{
    font-size: 5rem;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    color: #ffffff;
    line-height: 4.6rem;
}
.hero-line{
    width: 70%;
    margin-left: 1rem;
}
.contact{
    width: 9%;
    height: 9.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #EA9784;
    margin-top: 0.5rem;
}
.contact-link{
    transform: rotate(-90deg);
    font-family: Roboto, sans-serif;
    font-weight: 400;
}
.social-links-section{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10rem;
}
.icon{
    width: 2.5rem;
    height: 2.5rem;
}
.line{
    width: 85%;
    height: 1px;
    background: #252525;
}
.out{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 2rem;
}
.opt-line{
    width: 100%;
    height: 1px;
    background: #000000;
}
.opt-sec-1{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.opt-sec-2{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.opt{
    font-size: 1.2rem;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    padding-top: 1rem;
}
.sec_line{
    visibility: hidden;
}
.about-sec{
    padding-top: 3rem;
}
.content-sec{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 7rem;
    border: #000000 1px solid;
}
.box{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ball-section{
    visibility: hidden;
}
.white{
    color: #ffffff;
}
.content-head{
    font-size: 1.3rem;
    font-family: Roboto, sans-serif;
    font-weight: 500;
}
.content{
    width: 80%;
    padding-top: 0.2rem;
    font-family: monospace;
    text-align: justify;
}
.quote-section{
    width: 100%;
}
.quote{
    font-size: 3.5rem;
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    margin-left: 5%;
    line-height: 5rem;
}
.learn-section{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 3rem;
}
.vid-div{
    width: 20rem;
    height: 20rem;
    border: #000000 solid 1px;
    border-radius: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-timing-function: ease-in;
    transition: 2s;
}

.learning{
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 3rem;
    font-family: Roboto, sans-serif;
    font-weight: 500;
}
.now{
    font-size: 5rem;
    font-weight: 700;
}

.founder-section{
    width: 90%;
    margin-left: 5%;
    padding-top: 4rem;
    padding-bottom: 3rem;
}
.founder{
    font-size: 3.2rem;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    
    line-height: 5rem;
}
.fond{
    position: relative;
}
.fond::after{
    content: "";
    width: 100%;
    height: 1px;
    background-color: #000000;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    transform: scale(0);
    transition: transform ease-out 250ms;
}
.fond:hover::after{
    transform: scale(1);
}
.message{
    width: 100%;
    display: flex;
    justify-content: end;
    font-size: 0.8rem;
    font-family: Roboto, sans-serif;
    font-weight: 500;
}
.heart{
    margin-left: 3px;
}


/* Desktop*/

@media screen and (min-width: 500px) {
    body{
        background: #D4C9C9;
    }
    .brand{
        color: #1d1d1d;
    }
    .header-section-1{
        margin-left: 4rem;
        font-size: 2rem;
    }
    .header-section-2{
        margin-right: 4rem;
    }
    .hero-section{
        margin-top: 4rem;
    }
    .hero-line{
        width: 60%;
        margin-top: 1rem;
        margin-left: 4rem;
        display: flex;
        flex-direction: column;
        color: #1d1d1d;
    }
    .line-1{
        font-size: 7rem;
        line-height: 6rem;
    }
    .line-2{
        font-size: 9rem;
        line-height: 7rem;
    }
    .contact{
        width: 3%;
        height: 20rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #EA9784;
        margin-top: 0.5rem;
    }
    .social-links-section{
        padding-top: 3rem;
    }
    .line{
        width: 90%;
        height: 1px;
        background: #000000;
        margin-top: 2rem;
    }
    .options{
        display: flex;
        flex-direction: row;
        padding-top: 3rem;
        padding-bottom: 3rem;
        color: #1d1d1d;
    }
    .opt-line{
        width: 80%;
    }
    .content-sec{
        display: block;
        width: 100%;
        height: 7rem;
        border: 0;
    }
    .box{
        width: 35%;
        margin-left: 10rem;
    }
    .about-sec{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .content-head{
        font-size: 1.6rem;
    }
    .content{
        font-size: 0.96rem;
    }
    .ball-section{
        width: 50%;
        visibility: visible;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .ball{
        width: 4rem;
        height: 4rem;
        background: #222222;
        color: white;
        border-radius: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .ball-1{
        position: relative;
        bottom: 3rem;
        left: 2.5rem;
    }
    .ball-2{
        position: relative;
        top: 2rem;
        right: 2rem;
    }
    .ball-3{
        position: relative;
        bottom: 1rem;
        right: 4rem;
    }
    .quote-section{
        padding-top: 10rem;
        padding-bottom: 5rem;
    }
    .quote{
        font-size: 6rem;
        line-height: 8rem;
        color: #1d1d1d;
    }
    .vid-div{
        width: 25rem;
        height: 25rem;
    }
    .vid-div:hover{
    border: 1px dashed;
    transform: rotate(360deg);
}
    .learning{
        font-weight: 700;
    }
    .learn-section{
        padding-bottom: 5rem;
    }
    .founder{
        font-size: 6rem;
        line-height: 6rem;
        color: #1d1d1d;
    }
    .founder-section{
        width: 75%;
        margin-left: 5%;
    }
}
